{% extends "layout.html" %}

{% block title %} Detalle del estudiante {% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block header %}
{% include 'shared/nav_config.html' %}
{% endblock %}

{% block section %}
<div class="container my-3">
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label class="form-control-label">Nombre</label>
                <input type="text" class="form-control" value="{{ estudiante.nombre }}"
                    disabled>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label class="form-control-label">Apellido</label>
                <input type="text" class="form-control" value="{{ estudiante.apellido }}"
                    disabled>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label class="form-control-label">Fecha de nacimiento</label>
                <input type="text" class="form-control" value="{{ estudiante.fecha_nac }}"
                    disabled>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label class="form-control-label">Localidad</label>
                <input type="text" class="form-control" value="{{ localidad }}"
                    disabled>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label class="form-control-label">Nivel</label>
                <input type="text" class="form-control" value="{{ nivel.nombre }}"
                    disabled>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label class="form-control-label">Domicilio</label>
                <input type="text" class="form-control" value="{{ estudiante.domicilio }}"
                    disabled>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label class="form-control-label">Género</label>
                <input type="text" class="form-control" value="{{ genero.nombre }}"
                    disabled>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label class="form-control-label">Escuela</label>
                <input type="text" class="form-control" value="{{ escuela.nombre }}"
                    disabled>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label class="form-control-label">Tipo de documento</label>
                <input type="text" class="form-control" value="{{ tipo_doc }}"
                    disabled>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label class="form-control-label">Número de documento</label>
                <input type="text" class="form-control" value="{{ estudiante.numero }}"
                    disabled>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <label class="form-control-label">Teléfono</label>
            <input type="text" class="form-control" value="{{ estudiante.tel }}"
                disabled>
        </div>
        <div class="col-6">
                <div class="form-group">
                    <label class="form-control-label">Barrio</label>
                    <input type="text" class="form-control" value="{{ barrio.nombre }}"
                        disabled>
                </div>
            </div>
    </div>

    <div class="row">
        <div class="col-4">
          <a class="btn btn-danger btn-lg btn-block" href="{{ url_for('home') }}">Volver</a>
        </div>
        <div class="col-8">
          <a class="btn btn-warning btn-lg btn-block" href="{{ url_for('student_update') }}">Editar</a>
        </div>
      </div>

</div>

{% endblock %}

{% block footer %}
{% include 'shared/footer.html' %}
{% endblock %}

{% block script %}
<script>
    
            $.ajax({
                type: "POST",
                url: "estudiantes/editar/" + '{{ estudiante.id }}',
                async: false,
                success: function(){
                    $(".eliminar-loader").hide();
                },
                error: function(){
                    $(".eliminar-loader").hide();
                }
            });
</script>
{% endblock %}
